POSTGRES_USER=airflow
POSTGRES_PASSWORD=airflow
POSTGRES_DB=airflow
AIRFLOW_FERNET_KEY=3bEAqRa0s3mCiHgJ6c-pMtkSg4jRtl18E0s084rzeso=

# Snowflake — used by Streamlit dashboard
SNOWFLAKE_ACCOUNT=
SNOWFLAKE_USER=
SNOWFLAKE_PASSWORD=
SNOWFLAKE_DATABASE=GTFS_TEST
SNOWFLAKE_WAREHOUSE=DBT_WAREHOUSE
SNOWFLAKE_ROLE=GTFS_UPLOADER_ROLE