AIRFLOW_UID=50000
POSTGRES_USER=airflow
POSTGRES_PASSWORD=airflow
POSTGRES_DB=airflow
AIRFLOW_FERNET_KEY=3bEAqRa0s3mCiHgJ6c-pMtkSg4jRtl18E0s084rzeso=

DBT_USER=
DBT_PASSWORD=
DBT_DATABASE=
DBT_SCHEMA=
DBT_ACCOUNT=
DBT_WAREHOUSE=
DBT_WAREHOUSE_STRONK=
DBT_ROLE=

TOMTOM_API_KEY=["your_api_key"]
